{% load static %}
<!--  -->
 <a class="navbar-brand" href="#">
    <h1 class="text-warning" align="center">ONLINE CAR SERVICE CENTER</h1>
  </a>
<nav class="navbar navbar-expand-sm bg-warning navbar-warning">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <a class="navbar-brand" href="#">
    <img src="{% static 'images/car.png' %}"  style="width:40px;">
  </a>
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
    
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cn' %}">Contact us</a>
      </li>
        {% elif user.role == 1 %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'addcategory' %}">Addcartegory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'addcarservices' %}">Addcarservices</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'show' %}">edit/delete services</a>
      </li>
       <li class="nav-item" style='display:inline'>
        <a class="nav-link" href="{% url 'vieworders' %}">View orders</a>
      </li>
        <li class="dropdown">
  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
    {{user.username}}
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'cg' %}">change password</a>
    <a class="dropdown-item" href="{% url 'pro' %}">profile</a>
    <a class="dropdown-item" href="{% url 'lgo' %}">logout</a>
  </div>
</li>

       {% elif user.role == 2 %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cn' %}">Contact us</a>
      </li>
      <li class="dropdown">
        <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">select category
        </a>
        <ul class="navbar-nav">
          <div class="dropdown-menu">
            {% for i in data %}
            <li>
              <a href="{% url 'ca' i.id %}" class="dropdown-item">{{i.cname}}</a>
            </li>
            {% endfor %}
          </div>
        </ul>
      </li>
     <form class="form-inline four" action="/search">
          <input class="form-control" name="q" placeholder="search services" type="search" aria-label="search" style="padding-left: 50px;font-size: 15px" >
          <button class="btn btn-dark my-2 my-sm-0" type="submit" >search</button>
        </form>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'custom' %}">Customise</a>
      </li>
      <ul class="navbar-nav ml-auto" style="margin-right:50px">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cartdetails' %}">{{count}}<i class="fas fa-cart-plus"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'myorders' %}">Myorders</a>
      </li>
      
    </ul>
        <li class="dropdown">
  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
    {{user.username}}
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'cg' %}">change password</a>
    <a class="dropdown-item" href="{% url 'pro' %}">profile</a>
    <a class="dropdown-item" href="{% url 'lgo' %}">logout</a>
  </div>
</li>


      {% elif user.is_superuser %}
      <li class="nav-item" style='display:inline'>
        <a class="nav-link" href="{% url 'viewuser' %}">View users</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'per' %}">Give Permissions</a>
    </li>
        <li class="dropdown">
  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
    {{user.username}}
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'cg' %}">change password</a>
    <a class="dropdown-item" href="{% url 'pro' %}">profile</a>
    <a class="dropdown-item" href="{% url 'lgo' %}">logout</a>
  </div>
</li>
{% else %}

    <li class="nav-item">
      <a class="nav-link" href="{% url 'dsh' %}">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'rr' %}">Role Request</a>
    </li>
        <li class="dropdown">
  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
    {{user.username}}
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'cg' %}">change password</a>
    <a class="dropdown-item" href="{% url 'pro' %}">profile</a>
    <a class="dropdown-item" href="{% url 'lgo' %}">logout</a>
  </div>
</li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto" style="margin-right:120px">
    {% if not user.is_authenticated %}
    <li>
        <form class="form-inline four" action="/search">
          <input class="form-control" name="q" placeholder="search product" type="search" aria-label="search" style="padding-left: 50px;font-size: 15px" >
          <button class="btn btn-dark my-2 my-sm-0" type="submit" >search</button>
        </form>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'lg' %}">Login</a>
    </li>
     
    
{% endif %}

  </div>
</nav>



  
