{% extends 'services/base.html' %}
{% block title %}Registration {% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-6 mt-4 mx-auto shadow-lg">
		<h3 class="text-white text-center p-3 mt-3" style="background-color:green">Registration</h3>
		<form method="POST">
			{% csrf_token %}
			<table class="table table-borderless">
				{% for k in u %}
				<tr>
					<td>{{k}}</td>
				</tr>
				{% endfor %}
			</table>
			<div class="row">
				<div class="col">
					<a href="{% url 'lg' %}" class="form-control btn btn-info col-sm" >Existing user</a>
				</div><br><br>
				<div class="col">
					<input type="submit" value="create" class="btn btn-success btn-block col-sm">
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}