{% extends 'services/base.html' %}
{% block title %}contact{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-6 mx-auto">
		 {% if user.role == 1 %}
		 <div class="card-body">
		 	<form method="post" enctype="multipart/form-data">
		 		{% csrf_token %}
		 		<h3 class="bg-warning text-center text-success p-2">Add Item</h3>
		 		<table class="table table-borderless">
		 			{% for j in u %}
		 			<tr>
		 				<td>{{j}}</td>
		 			</tr>
		 			{% endfor %}
		 		</table>
		 		<input type="submit" value="Add Item" class="btn btn-success my-2">
		 	</form>
		 </div>
		 {% endif %}
	</div>
</div>
{% endblock %}