{% extends 'services/base.html' %}
{% block title %}Online car service cenetr{% endblock %}
{% block content %}
<div class="container">     
          <div class="col-md-6">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"> visa</i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" class="form-control" id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Credit card number</label>
            <input type="text" class="form-control" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Month</label>
            <input type="text" class="form-control" id="expmonth" name="expmonth" placeholder="September">
            <div class="row">
              <div class="container">
                <label for="expyear">Exp Year</label>
                <input type="text" class="form-control" id="expyear" name="expyear" placeholder="2018">
              </div>
              <div class="container">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv" name="cvv" placeholder="352">
              </div>
            </div>
          </div>
         
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        {% csrf_token %}
                {{form.as_p}}
       <input  type="submit" formaction="#" method="POST" value="Checkout" class="btn btn-secondary" id="b1">
                       
</form>
    </div>
  </div>
</div>
</div>
<div class="row mt-3">
    <div class="container">
    <div class="">
     <!-- <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>{{count}}</b></span></h4> -->
     <a href="" class="btn btn-secondary">CSV</a>
 <a href="#" class="btn btn-warning">PDF</a>
     <table class="table table-striped">
     
      <tr>
      <th>service_type</th>
      <th>Price</th>
     
      </tr>
      {% for info in cart %}
      <tr>
         <td>{{info.service.service_type}}</td>
         <td><span class="price">Rs.{{info.service.price}}</span></td>
       </tr>
       {% endfor %}
       <tr>
        <th>Total</th>
        <th><p><b>Rs.{{sum}}</b></p></th>
       </tr>
     </table>
     
</div>
</div>
  </div>



{% endblock %}