{% extends 'services/base.html' %}
{% block title %}services data{% endblock %}
{% block content %}
<div class="container">
	<div class="row mt-3">
		<div class="col-md-2"></div>
		<table class="table table-striped table-hover bg-warning">
			<tr class="bg-dark text-light">
				<th>S.no</th>
				<th>service_type</th>
				<th>price</th>
				<th>Actions</th>
			</tr>
			{% for i in m %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{i.service_type}}</td>
				<td>{{i.price}}</td>
				<td><a href="{% url 'ue' i.id %}" class="btn btn-info">Edit</a><a href="{% url 'infodelete' i.id %}" class="btn btn-danger">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% endblock %}