{% extends 'services/base.html' %}
{% block title %}servicesdata{% endblock %}
{% block content %}
<div class="container">
	<div class="row mt-3">
		<div class="col-md-2"></div>
		<form>
			<li class="dropdown">
  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" >high cost</a>
    <a class="dropdown-item">don't want this service</a>
    <a class="dropdown-item">changing the service</a>
  </div>
</li>
</form>
</div>
</div>
{% endblock %}
					